/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body {
    font: 20px Verdana, sans-serif;
    background-color: #563640;
    line-height: 1.8;
    color: #88bb92;
}

.bg-1 {
    background-color: #714955; /* Red */
    color: #ffffff;
}

.bg-2 {
    background-color: #a0ecd0; /* Light green */
    color: #3e3e3e;
    padding-left: 10px;
}

.bg-3 {
    background-color: #94ddbc; /* Sea green */
    color: #714955;
}

.container-top{
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  
  .text-center {
      text-align: center;
  }
  
  .center{
     
  }
  
  .title {
      font: 30px Verdana, sans-serif;
  }
  
  .float-right{
      float: right;
  }
  
  .button-1 {
    color: #4f1828 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #3ec487;
    padding: 10px;
    border: 4px solid #3ec487 !important;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button-1:hover {
    color: #714955 !important;
    background: #ccf6e7;
    border-color: #ccf6e7 !important;
    transition: all 0.4s ease 0s;
}
  
  .margin {
      margin-bottom: 20px
      
  }
  
  .margin-right{
      margin-right: 10px;
  }
  
  /*custom dropdown*/
  
  .custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  text-align: center;
}

.custom-dropdown select {
  background-color: #3ec487;
  color: #4f1828;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}
table{
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid black;
    width: 100%;
}
.selected{
    background-color: red;
}
.cell{
    background-color: #3ec487;
}
.guessed{
    background-color: gray;
}
