/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body {
    font: 20px Verdana, sans-serif;
    line-height: 1.8;
    color: #88bb92;
}

.bg-1 {
    background-color: #714955; /* Red */
    color: #ffffff;
}

.bg-2 {
    background-color: #a0ecd0; /* Light green */
    color: #3e3e3e;
    padding-left: 10px;
}

.bg-3 {
    background-color: #94ddbc; /* Sea green */
    color: #714955;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  
  .text-center {
      text-align: center;
  }
  
  .title {
      font: 40px Verdana, sans-serif;
  }
  
  .button-1 {
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #714955;
    padding: 10px;
    border: 4px solid #392027 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.button-1:hover {
    color: #714955 !important;
    background: #ccf6e7;
    border-color: #ccf6e7 !important;
    transition: all 0.4s ease 0s;
}
  
  .margin {
      margin-bottom: 20px
      
  }
